<configuration >

<!--    <appender name ="myConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">-->

<!--        <encoder>-->
<!--                <pattern>-->
<!--                    %d{yy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %n-->
<!--                </pattern>-->
<!--        </encoder>-->
<!--    </appender>-->
<!--    <appender name ="myFileAppender" class="ch.qos.logback.core.FileAppender">-->
<!--        <encoder>-->
<!--            <pattern>-->
<!--                %d{yy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %n-->
<!--            </pattern>-->
<!--        </encoder>-->
<!--        <file>-->
<!--                storyHub.log-->
<!--        </file>-->


<!--    </appender>-->
    <appender name = "myFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>
            log/storyHub.log
        </file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>log/storyHub-%d{yy-MM-dd_HH}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>
                %d{yy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %n
            </pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="myFileAppender"/>
    </root>

</configuration>